body{
    background-color: #FFF3F2;
}

h1 {
  color: #250209;
}

h2 {
  color: #250209;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.formulario {
  display: flex;
  gap: 20px;
}

.formulario input {
  padding: 5px;
  background:  #F169A5;
  border: 1px solid #89235B;
  border-radius: 12px 28px;
  color: #250209;
  cursor: pointer;
}

.formulario input:focus {
  border: 1px solid #F10291;
  color: #250209;
  outline: 2px solid #F10291;
}

.button {
  padding: 5px;
  background: linear-gradient(to right, #F7F6F4, #F169A5);
  border: 1px solid #F169A5;
  border-radius: 12px 28px;
  color: #250209;
  cursor: pointer;
}

.lista-tareas {
  list-style: none;
}

.tarea {
  padding: 10px;
  margin: 5px;
  background-color: #FFCAE4;
  border: 1px solid #F10291;
  border-radius: 12px;
  color: #250209;
}

.title {
  color: #420404;
  font-size: 24px;
  font-weight: 700;
}

.filtro {
  padding: 5px;
  background: linear-gradient(to right, #F7F6F4, #F169A5);
  border: 1px solid #F169A5;
  border-radius: 12px 28px;
  color: #250209;
  cursor: pointer;
}